.Header {
  padding-block: 30px;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }
}
